* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box-puntuacion {
    /*  background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.graficar {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(66, 133, 244);
    color: white;
    margin-top: 40px;
    transition: 2s all;
}

.graficar:hover {
    background-color: rgb(40, 120, 220);
}

.box-porcentajes{
    width: 50%;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.calificacion5 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    border-radius: 5px;
    height: 35px;
    border: 1px solid rgb(210, 210, 210.8);

}

.porcentaje {
    height: 35px;
    background-color: rgb(219, 140, 58);
    width: 0px;
    transition: all 1s;
}

.porcentaje {
    display: flex;
    justify-content: center;
}