div {
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
}

span {
    font-family: 'cinzel';
    font-size: 7em;
    color: rgb(33, 139, 60);
}
@font-face {
    font-display: swap;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cinzel-v19-latin-regular.eot');
    src: url('../fonts/cinzel-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cinzel-v19-latin-regular.woff2') format('woff2'),
        url('../fonts/cinzel-v19-latin-regular.woff') format('woff'),
        url('../fonts/cinzel-v19-latin-regular.ttf') format('truetype'),
        url('../fonts/cinzel-v19-latin-regular.svg#Cinzel') format('svg');
}