* {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.main-box {
    width: 950px;
    margin: 0 auto 0 auto;
    gap: 20px;
    border: 3px solid black;
}

.box {
    width: 100%;
    height: 120px;
    background-color: dodgerblue;
    color: white;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-2{
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    color: white;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box-1 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
}

.main-box-2 {
    display: grid;
    grid-template-columns: 1fr 150px 150px 1fr;
}
.main-box-3 {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 300px 100px 50px;
}

.main-box-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box-4-1{
    background-color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 5;
}
.box-4-2{
    background-color: goldenrod;
    grid-row-start: 2;
    grid-row-end: 6;
}