* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F2F5;

}

.menu-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    display: flex;
    border-bottom: 1px solid rgb(124, 124, 124);
    background-color: white;
    border-radius: 2%;
}

.box1-1 {
    width: 19.5em;
    height: 13em;
}

.box1-1 img {
    margin: 2em 9.5em;
    width: 10em;
    border-radius: 50%;
    cursor: pointer;
}

.box2 {
    color: #000000;
    margin: 2.9em 6.3em;
    height: 8em;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-family: 'Bebas Neue';
    border-bottom: 1px solid rgb(124, 124, 124);
}

.font-cinzel {
    font-family: 'Cinzel';
    text-align: center;
}


.btn2 {
    position: relative;
    margin: 5px;
    cursor: pointer;
    padding: 9px 20px;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    text-decoration: none;
    border-radius: 50%;
}

.btn2:hover {
    border-top-right-radius: 2px;
    border-bottom-left-radius: 4px;
    letter-spacing: 3px;
}

.btn2:hover {
    background: #100f0e;
    color: #03e9f4;
}

.btn2:after,
.btn2:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all 1s;
}

.btn2:hover:before,
.btn2:hover:after {
    width: 100px;
    height: 100px;
}

.parra {
    padding: 40px 0 0 0;
}

.box {
    display: contents;
    height: 7em;
    flex-wrap: wrap;
    justify-content: center;
}

/* inicio estilos del menu  */
.nav {
    position: relative;
    width: 17.5em;
    border-right: 2px solid black;
}

ul {
    text-align: center;
}

.icon-style {
    display: flex;
    font-size: 1.4em;
    padding: 10px 0 10px 13px;
    margin: 15px 11px;
}

.icon-style:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1024px) {

    .container {
        position: relative;
        border-bottom: 1px solid rgb(124, 124, 124);
        background-color: white;
        display: block;
        border-radius: 2%;
        left: 10px;
        height: 25%;
    }

    .box {
        display: inline-block;
        position: relative;
        left: 120px;
        height: 80%;
    }

    .box1-1 {
        margin: 0;
        padding: 0;
    }

    .box2 {
        margin: 0;
        padding: 0;
        position: relative;
        width: 300px;
        left: 90px;
    }

    .nav {
        display: none;
    }
}
   
@font-face {
    font-display: swap;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cinzel-v19-latin-regular.eot');
    src: url('../fonts/cinzel-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/cinzel-v19-latin-regular.woff2') format('woff2'),
        url('../fonts/cinzel-v19-latin-regular.woff') format('woff'),
        url('../fonts/cinzel-v19-latin-regular.ttf') format('truetype'),
        url('../fonts/cinzel-v19-latin-regular.svg#Cinzel') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v9-latin-regular.eot');
    src: url('../fonts/bebas-neue-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'),
        url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff'),
        url('../fonts/bebas-neue-v9-latin-regular.ttf') format('truetype'),
        url('../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue') format('svg');
}