* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(230, 235,224);
    width: 100%;
    display: grid;
    grid-template: "empty-left      main-page     empty-right"
        / minmax(50px, 1fr) minmax(700px, 1300px) minmax(50px, 1fr);
}

header {
    width: 100%;
    height: 120px;
    margin-top: 20px;
    gap: 20px;
    display: grid;
    grid-template: "logo main-menu" / 150px minmax(200px, 1fr);
}

.main-page {
    grid-area: main-page;
}

.logo {
    grid-area: logo;
    background-color: rgb(237,104, 90);
    height: 120px;
}

.main-menu {
    background-color: rgb(155, 193, 188);
    grid-area: main-menu;
    height: 120px;
    border-radius: 80px;
}

.main-content {
    display: grid;
    gap: 50px;
    margin-top: 20px;
    grid-template: "main-img main-img main-img" 400px
        "article-1 article-2 article-3" 570px;
    margin-bottom: 20px;
}

.main-img {
    grid-area: main-img;
    background-color: rgb(92, 164, 169);
    border-radius: 20px;
}

.style-text {
    display: flex;
    font-size: 1.9em;
    color: white;
    justify-content: center;
    align-items: center;
}

.article-1 {
    grid-area: article-1;

}

.article-2 {
    grid-area: article-2;

}

.article-3 {
    grid-area: article-3;
}

.img-article {
    height: 300px;
    width: 100%;
}

.img-article img {
    height: 100%;
    width: 100%;
    border-radius: 90px;
    cursor: pointer;
}
.text-article{
    margin-top: 10px;
    border-bottom: 2px solid rgb(85, 84, 84);
}

.text-article .style-article {
    text-align: justify;
    line-height: 1.4em;
    font-size: 1.4em;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .main-content {
        display: grid;
        gap: 50px;
        margin-top: 20px;
        grid-template: "main-img main-img" 400px
            "article-1 article-2 " 430px
            "article-3 article-4 ";
    }
}

/* CELULAR */

@media screen and (max-width: 767px) {

    body {
        grid-template: "empty-left    main-page empty    "
            / minmax(30px, 1fr) minmax(400px, 1023px) minmax(40px, 1fr);
    }

    .main-img {
        height: 300px;
        margin-bottom: 40px;
    }

    .main-content {
        display: inline-block;
    }

    .text-article {
        text-align: justify;
        line-height: 1.4em;
        margin-bottom: 60px;
    }
}