@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: grid;
    grid-template: "logo nav" 80px / 1fr 1fr;
}

.logo {
    grid-area: logo;
    position: relative;
    top: 30px;
    left: 80px;
}

nav {
    grid-area: nav;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.menu li {
    margin: 20px;
    list-style: none;
}

.menu li a {
    color: rgb(64, 64, 64);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
}

.menu li a:hover {
    border-bottom: 2px solid rgb(64, 64, 64);
}

.circle {
    width: 1500px;
    height: 1500px;
    border-radius: 750px;
    position: fixed;
    bottom: -740px;
    right: -720px;
}

.main-circle-green{
    background-color: rgb(1, 113, 51);
}

.main-circle-rose{
    background-color: rgb(212, 104,135);

}

.main-circle-pink{
    background-color: rgb(201, 76,164);
}

.social {
    grid-area: social-media;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    right: 0;
    gap: 25px;
    top: 0;
    z-index: 0;
}

.ico ul li {
    z-index: 90;
    font-size: 3em;
    list-style: none;
    color: #fff;
    cursor: pointer;
}

.ico ul li .fa-facebook:hover {
    color: rgb(23, 115, 234);

}

.ico ul li .fa-twitter:hover {
    color: rgb(28, 150, 232);
}

.ico ul li .fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow:  3px 10px rgba(0, 0, 0, .25);
}

img {
    cursor: pointer;
}

.main-content {
    display: grid;
    padding-top: 100px;
    grid-template: "empty-left text empty-center producto-img social-media"/ 140px 5fr minmax(0, 300px) 4fr 80px;
}

.text {
    grid-area: text;
    font-weight: 500;
    color: rgb(96, 96,93);
    font-family: 'Poppins', sans-serif;
    ;
}

.main-content .text h2 {
    font-size: 4em;
    line-height: 1.5em;
}

.main-content .text h2 span {
    color: rgb(1, 113, 51);
}

.text div {
    height: 90px;
    width: 300px;
    display: flex;
    align-items: center;
}

.text div a {
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgb(1, 113, 51);
    color: #fff;
}

.text p {
    color: rgb(87, 87, 87);
    font-size: 1.3em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}

.img-box {
    grid-area: producto-img;
    z-index: 5;
    height: 600px;
}

 .img-box img {
    transition: 0.7s;
    height: 100%;
}

.img-box img:hover {
    transform: translateX(-30px);
} 

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.imagenes img {
    transition: 0.8s;
}

.imagenes img:hover {
    transform: translateY(-60px);

}