body{
    background-color: #ddc4c4;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    border-collapse: collapse;
     font-size: 2em; 
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color:#3A434C;
    background-color: #FFFFFF;
}

 th, td{ 
     padding: 20px 15px; 
 }
 .table-box{
    display: flex;
    justify-content: center;
}
 .img-check{
    display: block;
    margin: 0 auto;
}

.logo-equis{
    display: flex;
    margin: 0 auto;
justify-content: center;
}

/* colores a las primeras casillas con tipos de color naranja */
.col-plan{
    background-color: #3A434C;
    color: #F0F0F2;
}
.col-fam{
    background-color: rgb(255, 120, 13);
    border: 0;
}
.col-bron{
    background-color: #FA690E;
}
.col-go{
    background-color: #F44D06;
}
.col-platin{
    background-color: #EB3704;
}

/* colores a la sequnda fila, "precios" */
.col-1{
    background-color:#FEA330 ;
}
.col-2{
    background-color: #FF972A;
}
.col-3{
    background-color: #FF7717;
}
.col-4{
background-color: #FF7717;   
}/* fin de de la "CLASE="COL-" */

table tr:nth-child(3) {
	background-color: #EEEEF0;
    font-size: 15px;

}
table tr:nth-child(4) {
	background-color: #EEEEF0;
}
table tr:nth-child(6) {
	background-color: #EEEEF0;
}
table tr:nth-child(8) {
	background-color: #EEEEF0;
}
table tr:nth-child(10) {
	background-color: #EEEEF0;
}
